* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-purple: #6A00D4;
  --color-secondary: #2D2A2F;
}

body {
  font-family: 'GT Walsheim Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #0b0b0b;
  color: white;
  z-index: 0;
  min-height: calc(100vh + 20px);

  .container {
    max-width: 1056px;
    margin: 0 auto;
  }

  h1 {
    font-size: 116px;
    line-height: 125px;
  }

  .dock {
    background: #0B0B0B;
    height: 100%;
    padding: 3rem;

    h3 {
      font-size: 48px;
      text-align: center;
    }

    p {
      margin-top: 1rem;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    button,
    a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 100%;
      border: none;
      padding: 1rem;
      font-size: 1.5rem;
      margin: .5rem 0;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      font-family: 'GT Walsheim Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: var(--color-purple);

      &:hover {
        filter: brightness(0.95);
      }
    }

    button {
      background: #151515;
    }
  }
}