* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-purple: #6A00D4;
  --color-secondary: #2D2A2F;
}

body {
  font-family: 'GT Walsheim Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #0b0b0b;
  color: white;
  z-index: 0;
  min-height: calc(100vh + 20px);

  .container {
    max-width: 1056px;
    margin: 0 auto;
  }

  h1 {
    font-size: 116px;
    line-height: 125px;
  }
}