  a {
    text-decoration: none;
    color: inherit;
  }

  .card {
    background: #151515;
    color: white;
    font-weight: 600;
    padding: 0 0 4rem 0;
    border-radius: 5px;
    // cursor: pointer;
    transition: all ease .25s;
    min-height: 466px;
    overflow: hidden;
    min-width: 338.66px;

    &:hover {
      transform: translateY(-5px);
      filter: brightness(0.96);
      box-shadow: 0 0 0 3px var(--color-purple);
    }

    h3 {
      font-size: 40px;
      width: 90%;
      margin: auto;
    }

    .containerButtons {
      width: 90%;
      margin: auto;
      display: flex;

      a {
        background: black;
        padding: 1rem;
        border-radius: 5px;
        margin: 1rem;
        display: flex;
        justify-content: center;
        gap: 10px;

        &:hover {
          filter: brightness(0.9);

        }

        i {
          font-size: 20px;
        }

        &.link {
          background: var(--color-purple);
        }
      }
    }

    p {
      width: 90%;
      margin: auto;
      opacity: 0.6;
      text-align: left;
      font-weight: 400;
    }

    &:hover {
      div.containerImage {
        img.tooltipImage {
          filter: grayscale(0);
        }
      }
    }

    div.containerImage {
      max-height: 210px;
      overflow: hidden;
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img.tooltipImage {
        filter: grayscale(100);
        width: 140%;
      }
    }

  }