.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: auto;
  padding: 3rem 0;

  a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    transition: all ease .25s;
    opacity: .3;

    @media (max-width:1056px) {
      font-size: 20px;
    }


    &.active,
    &:hover {
      position: relative;
      opacity: 1;

      &:before {
        background: var(--color-purple);
        content: "";
        width: 100%;
        position: absolute;
        height: 3px;
        bottom: 0;
        transform: translateY(5px);
      }
    }
  }

}