.portfolio {
  .containerCardsPortfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 5rem;

    @media (max-width:1165px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:864px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:785px) {
      display: flex;
      max-width: 100%;
      padding-left: 4rem;
      overflow-x: scroll;
      padding-top: 3rem;
    }


  }
}